*{
  box-sizing: border-box;
}

body{
  background-color: rgb(119, 119, 119);
  margin:0px;
  font-family: "Inter", sans-serif;
}


@media (min-width: 768px) {
  /* tablet */
}

@media (min-width: 1024px) {
  /* desktop */
}