*{
  box-sizing: border-box;
}

body{
  background-color: rgb(230, 229, 229);
  margin:0;
}

.hero-img-1{
  width: 100%;
}





@media (min-width: 768px) {
  /* tablet */
}

@media (min-width: 1024px) {
  /* desktop */
}