.hero-section{
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 900;
  color: rgb(188, 143, 27);
  margin: 0 0 50px 0;
  padding:0;
}

.hero-img-container{
  margin-top: 0px;
  position: fixed;
  z-index: 800;
  width: 390px;
  height: 450px; 
  padding: 0 10px;
  border: solid 1px transparent;
  border-radius: 10px;
}

.hero-img{ 
  max-width: 100%;
  border: solid 1px transparent;
  border-radius: 10px;
  height: auto;
}

.intro-sentence{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
  /*margin: -50px 0;*/
  padding: 0;
}

.hero-description-action{
  display: flex;
  z-index: 900;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  /*padding-top: 50px*/ 

}

.hero-descriptio-sentence{
  text-align: center;
  font-size: 23px;
  font-weight: bold;
}

.hero-buchen-btn{
 height: 50px;
 border-radius: 50px;
 border: solid 1px transparent;
}