.hero-section{
  position: relative;
  top:80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: auto;
  max-width: 100%;
}

.intro-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 0px;
  padding: 10px;
}

.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 900;
  color: #1F4E79;
  margin: 0px;
  padding: 0px ;
  background-color: transparent /*#D6D4D4*/;
  border-radius: 10px;
}

.hero-intro-sentence{
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
  padding: 10px 0;
}

.hero-img-container{
  margin: 10px 0 0 0;
  width: 100%;
  height: fit-content;
  padding: 0px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  
}

.hero-img{ 
  width: 180%;
  border: none;
  border-radius: 10px;
  height: 380px;
  opacity: 0.8;
  object-fit: cover;
  
}

/*---------------------------*/

.hero-description-action{
  display: flex;
  z-index: 900;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  padding: 0;
  gap:10px
}

.hero-description-sentence{
  text-align:start;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0;
  padding: 10px;
  background-color: transparent/*#D6D4D4*/;
  border: 0px;
  border-radius: 10px;
  color: black;
  line-height: 1.4;
}

.hero-buchen-btn{
 height: 60px;
 border-radius: 50px;
 border: solid 1px transparent;
 background-color: #1F4E79;
 color: whitesmoke;
 font-size: 18px;
 font-family: "Montserrat", sans-serif;
 font-weight: 500;
}