
.header-container{
  display: flex;
  flex-direction: row;
  border: solid 1px transparent;
  
}

.logo{
  width: 55%;
}

.header-name-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin:0px;
  padding: 10px;
  z-index: 1000;
  height: 75px;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  background-color: rgb(214, 212, 212);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.name-link{
  text-decoration: none;
}
.name{
  font-size: 30px;
  color: black;
}

.nav-mobile-btn{
  background-color:black/*rgb(63, 150, 163)*/;
  border-radius: 5px;
  width: 20px;
  height: 50px;
  border: solid 1px transparent;
}

.nav-container{
  display: none; 
}
.nav-container-visible{
  display: block;
  margin-top: 75px;
  z-index: 1001;
  position:fixed;
  top: 0;
  right: 0;
  left:0;
  height:100vh;
  background-color: black;
}

.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(214, 212, 212);
  margin: 0;
  padding: 0;  
  
}

.ul{
  text-align: center;
  margin: 12px 0;
  padding: 0;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.buchen-mobile-nav-button{
  width: 250px;
  height: 75px;
  background-color: rgb(214, 212, 212);
  border: solid 1px transparent;
  color: black;
  border-radius: 20px;
  font-size: 20px
}

.buchen-desktop-button{
  display: none;
}




@media (min-width: 768px) {
  /* tablet */
}