
.header-container{
  display: flex;
  flex-direction: row;
}

.header-name-container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin:0px;
  padding: 10px;
  z-index: 1000;
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  background-color: aliceblue;
  
}

.name{
  font-size: 20px;
}


.nav-container{
  display: none; 
}
.nav-container-visible{
  display: block;
  margin-top: 50px;
  width: 100%;
  height:auto
}

.nav-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:rgb(57, 132, 197);
  color: rgb(0, 0, 0);
   margin: 0;
  padding: 0;
}

.ul{
  text-align: center;
  margin: 12px 0;
  padding: 0;
}

.buchen-desktop-button{
  display: none;
}

.hero-section{
  margin-top: 50px;
}



@media (min-width: 768px) {
  /* tablet */
}